*{
	margin: 0;
  padding: 0;
}

.nav-item a.nav-link {
	font-size: 1.2rem;
}

.nav-item a {
	color: white !important;
}

.nav-item a.nav-link:hover{
	color: yellow !important;
}

.menu {
    background-color: rgb(207, 187, 5)!important;
}
.caixa_pesquisa {
	margin-top: 3px;
	margin-left:53%;
}
.pesquisar_ {
	width: 67%;
	height: 90%;
	padding: .380rem .80rem;
	font-size: 1rem;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .20rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.botao_pesquisar{
	width: 30%;
	padding: .375rem .75rem !important;
	height: 35px!important;
}
.titulo_h{
	text-align: center;
	margin-top: 1%;
}
div.flex-container{
	display: flex;
	flex-direction: column;

}
.cards {
	margin: 2%;
	-webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.77);
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.77);
}
.card-title {
	text-align: center;
}
.card-text {
	text-align: justify;
}
.card-img-top{
	width: 100%;
}


@media only screen and (max-width: 600px){ /* coloca o button no centro arquitetos */
	.flex-container{
		display: flex;
	}
	.flex-container > div {
	  margin: 10px;
	  padding: 5px;
	}
	.card-title {
		text-align: center;
	}
	.card-text {
		text-align: justify;
	}
	.card-img-top{
		width: 100%;
	}
}
button#button_{
	position: fixed;
	right: 16px;
	bottom: 16px;
	z-index: 379;
	transition: right .2s,bottom .2s,left .2s;
	width: 100%;
	height: auto;
}
button#button-id {
	position: fixed;
	right: 16px;
	bottom: 16px;
	z-index: 879;
	transition: right .2s,bottom .2s,left .2s;
	background-color: rgb(255, 217, 0);
	color: black;
	width: 200px;
	height: 40px;
	text-transform: uppercase;
	font-family: sans-serif; /*Aplicar event JQuery*/
	margin-top: 30px;
	margin-bottom: 25px;
	border: 1px solid rgb(255, 217, 0);
	font-weight: 600;
}
button#button-id:hover{
	background-color:rgb(243, 243, 243);
}
button#button-id a{
	text-decoration: none;
}

input#button-id{
	background-color: rgb(255, 217, 0);
	color: black;
	width: 200px;
	height: 40px;
	text-transform: uppercase;
	font-family: sans-serif; /*Aplicar event JQuery*/
	margin-top: 30px;
	margin-bottom: 25px;
	border: 1px solid rgb(255, 217, 0);
	font-weight: 600;
}

div.banner-img{
	background-color: #fab20ace;
	width:95%;
	height: auto;
	margin-top: 20px;
	-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
	border-radius: 50px;


}
img.img-comparativa{
	width: 50%;
	margin: 30px;
	margin-left: 40px;
	-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);

}
h3.titulo-um{
	color: black;
	margin-top: 0px;
	font-size: 23px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif;
	padding-top: 20px;

}
h3.titulo-um-2{
	color: black;
	margin-top: 50px;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif;
	padding-top: 20px;

}
hr.hr-titulo{
	width: 60%;
	height: 0.09rem;
	margin-left: 20%;
	background-color: rgb(255, 255, 255);
}


div.div-img{
	margin-top: 20px;
	margin: 20px;
	text-align: justify;
}

.img_f{
	margin-top: 15%;
}
div.texto_{
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:30px;
	font-weight: 600;
	color: black;
	text-align: center;
	width:100%;
	text-shadow: 1px 0px 0px  rgba(50, 50, 50, 0.77) ;
}

h3#texto-margem{
	margin-top:40px;
}
h3.titulo-dois{
	color: #e6b30ece;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 500;
	text-align: justify;
	text-transform: capitalize;
	font-family: sans-serif;
	padding-top: 0px;
}

.cprod{
	width: 100%;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
}
.titulos_{
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	background-color: black;
	color: white;
	width: 100%;
	border-radius: 5%;
}

.wpp{
	margin-left: 40%;
	background-color: darkgreen;
	color: white;
	border-radius: 15px;
	padding: 2%;
}
.wpp a{
	text-decoration: none;
	color: white;
}
.wpp a:hover{
	text-decoration: none;
	color: white;
}
/* Começa aqui codigo produtos */
.item_1{
	width: 100%;
	height: 100%;
}

/* Começa aqui codigo formulario */
div.form-contato{
	width: 100%;
	height: auto;

	margin-top: 2%;
}
form.formulario{
	margin-top: 3%;

}
input.input-1:focus{
	margin: 1%;
	width: 40%;
	height: 40px;
	border: 1px solid gray;
	color:#303030;
	padding:1%;
	font-size: 14px;
	font-weight: 500;
}
input.input-1{
	margin: 1%;
	width: 40%;
	height: 40px;
	border: 1px solid gray;
	border-radius: 2px;
	color:black;
	padding:1%;
	font-size: 14px;
	font-weight: 500;
}

textarea.area{
	border: 2px solid gray;
	border-radius: 2px;
	width:100%;
	padding:1%;
	font-size: 14px;
	font-weight: 500;
}
div.div-area{
	border-radius: 4px;
	width: 40%;
	background-color: white;
	margin-left: 30%;
}
input#input-file{
	margin-left: 0%;
	width: 100%;
}

#file-texto{
	margin-left: 22%;
}
div.titulo-formulario{
	margin-left:20%;
	margin-right: 20%;
}
div.input-file{
	border: 1px solid gray;
	width: 22%;
	height: 100%;
	margin-right: 31%;
	font-weight: bolder;
	position: relative;
	float: right;
}
/* ===== FOOTER media querie ===== */
@media only screen and (max-width: 600px) {
	.colunasf {
	    margin-top: 2%;
			margin-left: 21%;
	    width: 60%;
			background-color: red;
	}

}
/* ===== FOOTER desktop ===== */
.footer {
    background-color: #212529;
    font-family: 'Poppins', sans-serif;
    color: white;
		height: 30%;
		width: 100%;

}

.footer a {
    color: white;
    text-align: center;
    text-decoration: none;
    list-style: none;
    width: 100%;

}

.sub-footer {
  	background-color: #212529;
    font-family: 'Poppins', sans-serif;
    float: left;
    width: 100%;
    text-align: center;
    border-top: white;
    border: 1px solid white;
		width: 100%;
}

.colunasf {
    margin-top: 2%;
    width: 60%;
}
